numpy
mantis_soap
django
celery
django-cors-headers
django-cors-middleware
django-celery-results
sqlalchemy
uwsgi
django-rest-framework
pymongo
django-jsonfield
elasticsearch>=7.0.0,<8.0.0
djoser
djangorestframework-simplejwt
